/.minecraft/.fabric
/.minecraft/.mixin.out
/.minecraft/.optifine
/.minecraft/WailaErrorOutput.txt
/.minecraft/config/euclid.properties
/.minecraft/config/lightoverlay.properties
/.minecraft/config/litematica
/.minecraft/config/minihud
/.minecraft/config/skinchange
/.minecraft/config/worldedit/sessions
/.minecraft/coremods
/.minecraft/craftpresence
/.minecraft/crash-reports
/.minecraft/hs_err_pid*.log
/.minecraft/logs
/.minecraft/mods/mamiyaotaru/voxelmap
/.minecraft/resourcepacks
/.minecraft/saves
/.minecraft/schematics
/.minecraft/screenshots
/.minecraft/server-resource-packs
/.minecraft/servers.dat
/.minecraft/servers.dat_old
/.minecraft/skins
/.minecraft/texturepacks
/.minecraft/usercache.json